* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab';
}

.header {
  width: 100%;
  height: 140px;
  overflow: hidden;
  border-bottom: 1px solid #549aea;
}

.titles {
  margin: 30px;
}

.header__subtitle {
  text-transform: uppercase;
  font-size: 13px;
}

.menu__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 25px;
}

.menu__item {
  color: blue;
  font-size: 14px;
  margin: 5px;
}

.button__menu {
  border: 0px;
  background-color: white;
  color: #549aea;

}

.button__select {
  border-right: 1px solid #549aea;
  padding-right: 10px;
}

.ingredients__list {
  padding: 30px;
  list-style: none;
}

.ingredients__item {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #bebfbd;

}

.ingredients__data {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item__checkbox {
  margin-right: 10px;
}

.item__quantity {
  width: 40px;
  height: 40px;
  text-align: center;
  color: #549aea;
  font-size: 20px;
  margin-right: 10px;
}

.item__description--title {
  font-size: 15px;
}

.item__description--brand {
  font-size: 13px;
  color: #8a8b8c;
}

.item__description--weight {
  font-size: 11px;
}

.item__price {
  color: #4d8f00;
  font-size: 18px;
}

.resume {
  margin: 30px;
}
.resume__list {
  list-style: none;
}

.resume__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.item--item {
  justify-content: flex-start;
  font-size: 12px;
}

.item--title {
  color: #8a8b8c;
}

.total--number {
  font-size: 20px;
  color: #4d8f00;
}

.subtotal--title, .cost--title {
  font-size: 15px;
  color: #8a8b8c;
}

.resume__button {
  margin-top: 20px;
  width: 430px;
  height: 50px;
  background-color: #4d8f00;
  color: white;
  border: 0;
  border-radius: 5px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  font-size: 25px;
}

.resume__button:hover{
  color: black;
  cursor: pointer;
}
